.b-green{
     border:2px solid green;

     
}

.b-red{
    border:2px solid yellow;

    
}

html{
   
}


#title {
    background-color: #ff4c68;
    color: #fff;

}

body {
    font-family: 'Montserrat', sans-serif;


}

.left-column{
    font-size:3rem;
}

.right-column{
    text-align: center;

}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;


}


.navbar {
    padding: 0 0 4.5rem;
}

.nav-link {
    font-family: "Montserrat";
    font-size: 1.2rem;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
}

.container-fluid {
    padding: 3% 10%;

}




#title-image {
    width: 50%;
    transform: rotate(30deg);
    margin-top: 15%;
}

.navbar-nav {
    margin: 0 0 0 auto;
}

.my-btn {
    border-radius: 2rem ;
}



/* section-two */

.info-icon {
    color: #ef7182;
    margin-bottom: 1rem;
    font-size: 5rem;

    
}

.info-icon:hover{
    color:#ff4c68;
}

#section-two {
    margin-top: 8rem;
}

.info-section {

    text-align: center;
    margin-bottom: 6em;
    
    
}

.info-title {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.info-subtitle{
    color:#8f8f8f;
}


html, body {
    margin: 0;
    padding: 0;
  }  



/*   Testimonials Section */


#testimonials{
 background-color: #ef7182;
 text-align: center;
 color: #fff;
 height: 50%;

}

#testimonials h2{
   
        font-family: 'Montserrat', sans-serif;
        line-height: 1.5;
        font-weight: bold;
        font-size: 3rem;
        

}

.carousel-item{
    padding:5% 19%;

}

.testimonial-image{
     border-radius: 100%;
     width:20%;
     margin: auto 20px;
}

#press{
    text-align: center;
    background-color: #ef7182;
    padding-bottom: 3%;

}

.press-logo{
    margin:20px 20px 50px;
    max-width: 10%;
}
  